{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Messenger</title>
</head>
<body style="background-color: #1a1a1a; color: white">

<div class="app">
    <div class="container" style="width: 1500px; margin: 0 auto; display: flex; flex-direction: row; align-items: stretch;">
        <div class="sidebar">
            {% include 'include/sidebar.html' %}
        </div>
        <div class="chat" style="width: 100%; display: flex; flex-direction: row; justify-content: center;">
            {% block chat %}
            {% endblock %}
        </div>
    </div>
</div>

{% block footer %}
{% endblock %}
</body>
</html>